<label class="label">{{ label }}</label>
<div class="control" cdkOverlayOrigin #origin="cdkOverlayOrigin">
  <span class="selected-value" [ngClass]="{ empty: !value }">{{
    value || 'Nothing is selected...'
  }}</span>
  <span class="drop-down-icon">🔽</span>
</div>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayOffsetY]="8"
  [cdkConnectedOverlayOffsetX]="-11"
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (detach)="close()"
  (backdropClick)="close()"
>
  <div class="panel">
    <ng-content></ng-content>
  </div>
</ng-template>
